<h2>Social Media</h2>
<div class="form-group">
  <label for="socialMedia">Facebook</label>
  <input
    class="form-control"
    type="text"
    name="socialMedia"
    id="facebook"
    placeholder="Facebook URL"
    ng-model="newProfile.socialMedia.facebook"
  />
</div>
<div class="form-group">
  <label for="socialMedia">Twitter</label>
  <input
    class="form-control"
    type="text"
    name="socialMedia"
    id="twitter"
    placeholder="Twitter URL"
    ng-model="newProfile.socialMedia.twitter"
  />
</div>
<div class="form-group">
  <label for="socialMedia">Instagram</label>
  <input
    class="form-control"
    type="text"
    name="instagram"
    id="instagram"
    placeholder="Instagram URL"
    ng-model="newProfile.socialMedia.instagram"
  />
</div>
<div class="form-group">
  <label for="socialMedia">Youtube</label>
  <input
    class="form-control"
    type="text"
    name="socialMedia"
    id="youtube"
    placeholder="Youtube URL"
    ng-model="newProfile.socialMedia.youtube"
  />
</div>
<div class="form-group">
  <label for="socialMedia">Twitch</label>
  <input
    class="form-control"
    type="text"
    name="socialMedia"
    id="twitch"
    placeholder="Twitch URL"
    ng-model="newProfile.socialMedia.twitch"
  />
</div>
<div class="form-group">
  <label for="socialMedia">Snapchat</label>
  <input
    class="form-control"
    type="text"
    name="socialMedia"
    id="snapchat"
    placeholder="Snapchat URL"
    ng-model="newProfile.socialMedia.snapchat"
  />
</div>
<a class="btn btn-secondary" ui-sref="profile.about" role="button">Back</a>
<a class="btn btn-primary" ui-sref="" role="button">Next</a>
