<h2>Basic Information</h2>
<label for="name">Name</label>
<input
  ng-model="newProfile.fullName"
  class="form-control"
  type="text"
  name="name"
  id="name"
  placeholder="Full Name"
/>
<label for="sports">Sports</label>
<!-- refactor to checkboxes for multiple selection and get sports list from api -->
<select ng-model="newProfile.sports" name="sports" class="form-control">
  <option value="golf">Golf</option>
  <option value="tennis">Tennis</option>
  <option value="cricket">Cricket</option>
  <option value="basketball">Basketball</option>
</select>
<label for="nationality">Nationality</label>
<select
  ng-model="newProfile.nationality"
  name="nationality"
  id="nationality"
  class="form-control"
>
  <option>-- Please Select One --</option>
  <option value="usa">United States America</option>
  <option value="uk">Great Britain</option>
  <option value="uganda">Uganda</option>
</select>
<div class="form-group">
  <label for="gender">Gender</label>
  <select ng-model="newProfile.gender" name="gender" id="gender">
    <option>-- Please Select One --</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="other">Other</option>
  </select>
</div>
<div class="form-group">
  <label for="dob">Date of Birth</label>
  <input
    ng-model="newProfile.dob"
    class="form-control"
    type="date"
    name="dob"
    id="dob"
  />
</div>
<a class="btn btn-primary" type="submit" ui-sref="profile.about" role="button">Next</a>
